<%
  cookies[:searchword] = params[:searchWord] unless params[:searchWord].nil?
  @posts = search cookies[:searchword], 50
  @page_results = @posts.paginate(page: params[:page], per_page: 10)
%>

<div class="col-md-12">
  <p id="notice"><%= notice %></p>
  <h2><%= print_search_result(cookies[:searchword], @posts) %></h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th style="vertical-align: middle;">Video</th>
      <th style="vertical-align: middle;">Description</th>
      <th>Add track</th>
    </tr>
    </thead>

    <tbody>
    <% @page_results.each_with_index do |result,index| %>
        <tr>
          <td>
            <img class="song-picture" src="<%= result.snippet.thumbnails.default.url %>" width="80px" height="80px"/>
            <span class="song-title"><%= result.snippet.title %></span>
          </td>
          <td style="vertical-align: middle;">
            <% @extra = result.snippet.description.to_s.length < 60 ? '' : '...'%>
            <%= result.snippet.description.to_s[0..60] + @extra %>
          </td>
          <td style="vertical-align: middle;">
            <%= link_to songs_path(link: result.id.videoId, title: result.snippet.title), id: "s#{index}", method: :post do %>
                <span style="color: #5BC0DE; font-size:1.6em;" class="glyphicon glyphicon-plus"></span>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @page_results %>
</div>
